html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        link(rel="stylesheet" href="public/index.css")
        title Hello, My Little Project
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    body
        block contents
        
        block scripts